body, h1{
    margin: 0;
    background: linear-gradient(  #1c2b2d, #1b1a17);
    font-family: 'Mali', cursive;
}
.main{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__title{
    color: white;
    font-size: 25px;
}

.categories__title{
    color: #ffff;
    font-size: 16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}

.input{

    font-family: 'Mali', cursive;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    width: 70%;
    outline: none;
    color: white;

    &::placeholder{
        color: white;
    }
}

.carousel{
    width: 100%;
    padding: 30px;
    position: relative;
}

.carousel__container{
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 10px;
}

.carousel-item{
    width: 300px;
    height: 350px;
    border-radius: 20px;
    background-color: yellow;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 400ms all;
    transform-origin: center left;
    position: relative;

    &:hover ~ .carousel-item{
        transform: translate3d(110px, 0, 0);
    }

    /* Para que el ultimo no se salga*/
    &:nth-child(4){
        transform-origin: center right;
    }

    
}


.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img{
    width: 300px;
    height: 350px;
    object-fit:cover;
}

.carousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    img{
        height: 25px;
    }

    p{
        margin: 0px;
    }
    
    &:hover {
        opacity: 1;
        color: white;
    
    
    }
}



