<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
</head>
<body>
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__img" src="../public/castles/castle.jpg" alt="Castle">
                <div class="carousel-item__details">
                    <div>
                        <img src="../public/icons/icon-play.png" alt="Play Icon">
                        <img src="../public/icons/icon-plus.png" alt="Plus Icon">
                    </div>
                    <p class="carousel-item__details--title">Castillo en algun lugar del mundo</p>
                    <p class="carousel-item__details--subtitle">Ta buenardo</p>
                </div>
            </div>


            <div class="carousel-item">
                <img class="carousel-item__img" src="../public/castles/castle1.jpg" alt="Castle">
                <div class="carousel-item__details">
                    <div>
                        <img src="../public/icons/icon-play.png" alt="Play Icon">
                        <img src="../public/icons/icon-plus.png" alt="Plus Icon">
                    </div>
                    <p class="carousel-item__details--title">Castillo en algun lugar del mundo</p>
                    <p class="carousel-item__details--subtitle">Ta buenardo</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item__img" src="../public/castles/castle2.jpg" alt="Castle">
                <div class="carousel-item__details">
                    <div>
                        <img src="../public/icons/icon-play.png" alt="Play Icon">
                        <img src="../public/icons/icon-plus.png" alt="Plus Icon">
                    </div>
                    <p class="carousel-item__details--title">Castillo en algun lugar del mundo</p>
                    <p class="carousel-item__details--subtitle">Ta buenardo</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item__img" src="../public/castles/castle3.jpg" alt="Castle">
                <div class="carousel-item__details">
                    <div>
                        <img src="../public/icons/icon-play.png" alt="Play Icon">
                        <img src="../public/icons/icon-plus.png" alt="Plus Icon">
                    </div>
                    <p class="carousel-item__details--title">Castillo en algun lugar del mundo</p>
                    <p class="carousel-item__details--subtitle">Ta buenardo</p>
                </div>
            </div>


        </div>

        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__img" src="../public/castles/castle4.jpg" alt="Castle">
                <div class="carousel-item__details">
                    <div>
                        <img src="../public/icons/icon-play.png" alt="Play Icon">
                        <img src="../public/icons/icon-plus.png" alt="Plus Icon">
                    </div>
                    <p class="carousel-item__details--title">Castillo en algun lugar del mundo</p>
                    <p class="carousel-item__details--subtitle">Ta buenardo</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item__img" src="../public/castles/castle5.jpg" alt="Castle">
                <div class="carousel-item__details">
                    <div>
                        <img src="../public/icons/icon-play.png" alt="Play Icon">
                        <img src="../public/icons/icon-plus.png" alt="Plus Icon">
                    </div>
                    <p class="carousel-item__details--title">Castillo en algun lugar del mundo</p>
                    <p class="carousel-item__details--subtitle">Ta buenardo</p>
                </div>
            </div>

        </div>
    </section>
</body>
</html>